<h1>注文情報入力画面</h1>
<%= form_with(url: orders_purchase_confirmation_path, local: true, method: :get) do |f| %>
  <p>支払い方法選択</p>
    <%= radio_button :order, :method_of_payment, 'クレジットカード', class: "margin-left-20" %>クレジットカード<br>
    <%= radio_button :order, :method_of_payment, '代引き', class: "margin-left-20" %>代引き<br>
    <%= radio_button :order, :method_of_payment, 'コンビニ支払い', class: "margin-left-20" %>コンビニ支払い
  <p>お届け先選択</p>
    <%= radio_button :order, :delivery_info_kind, :self, class: "margin-left-20" %>自分の住所<br>
      <p class="margin-left-40"><%= "〒" + current_end_user.post_code + current_end_user.street_address %></p>
      <p class="margin-left-40">宛名：<%= current_end_user.last_name + current_end_user.first_name %></p>
    <%= radio_button :order, :delivery_info_kind, :other, class: "margin-left-20" %>その他住所<br>
      <p class="margin-left-40"><%= collection_select :other, :address_id, current_end_user.addresses, :id, :other_address_info, :include_blank => "ーーーーー選択して下さい" %></p>
    <%= radio_button :order, :delivery_info_kind, :new, class: "margin-left-20" %>新規住所登録<br>
      <p class="margin-left-40">郵便番号：<%= text_field :new, :post_code %></p>
      <p class="margin-left-40">住所：<%= text_field :new, :street_address, class: "margin-left-32" %></p>
      <p class="margin-left-40">宛名：<%= text_field :new, :name, class: "margin-left-32" %></p>
    <%= submit_tag "注文確認画面へ", class: "margin-top-15" %>
<% end %>
