<h1>新商品登録</h1>
<%= form_for(@item, url: admins_items_path) do |f| %>
  <p>商品名</p>
  <%= f.text_field :name %>
  <p>ジャンル選択</p>
  <%= f.collection_select :genre_id, Genre.all, :id, :name %>
    <p>価格</p>
  <%= f.number_field :price, min: 0 %>円
  <p>販売ステータス</p>
  <%= f.radio_button :sale_status, 1 %>販売中
  <%= f.radio_button :sale_status, 0, {:checked => true} %>販売停止中<br>
  <%= f.submit "登録！" %>
<% end %>
