<h1>受注詳細</h1>
<h2>注文情報</h2>
<table>
  <tr>
    <th>注文ステータス</th>
    <th>支払額</th>
    <th>支払い方法</th>
    <th>配送先</th>
    <th></th>
  </tr>
  <tr>
    <%= form_for(@order, url: admins_order_path(@order.id), method: :patch) do |o| %>
    <td><%= o.select :order_status, ['入金待ち','入金確認','制作中','発送準備中','発送済み'] %><%= o.submit '更新' %></td>
    <% end %>
    <td><%= @order.total_price %></td>
    <td><%= @order.method_of_payment %></td>
    <td><%= @order.order_address_info %></td>
  </tr>
</table>
<h2>注文商品一覧</h2>
<table>
  <tr>
    <th>商品名</th>
    <th>数量</th>
    <th>小計</th>
    <th>制作ステータス</th>
  </tr>
  <% @order.order_items.includes(:item).each do |o_i| %>
  <tr>
    <td><%= o_i.item.name %></td>
    <td><%= o_i.count %></td>
    <td><%= o_i.subtotal_price %>円</td>
    <% if @order.order_status == '入金待ち' %>
      <td><%= o_i.production_status %></td>
    <% else %>
      <%= form_for(o_i, url: admins_order_item_path(o_i.id), method: :patch) do |o| %>
      <td><%= o.select :production_status, ['制作待ち','制作中','制作完了']  %><%= o.submit '更新' %></td>
      <% end %>
    <% end %>
  </tr>
  <% end %>
</table>
